<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kbstar.mapper.SalesMapper">


    <select id="selectall" resultType="Sales">
        SELECT * FROM Sales
    </select>
    <insert id="insert" parameterType="Sales">
        INSERT INTO Sales VALUES (TO_DATE(#{rdate}),#{price},#{gender})
    </insert>



</mapper>